<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tiketsaya">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EditProfileAct"></activity>
        <activity android:name=".MyTicketDetail" />
        <activity android:name=".MyProfile" />
        <activity android:name=".SuccesBuyTicketAct" />
        <activity android:name=".TicketCheckoutAct" />
        <activity android:name=".TiketDetailAct" />
        <activity android:name=".HomeAct" />
        <activity android:name=".SuccesRegisterAct" />
        <activity android:name=".RegisterTwoAct" />
        <activity android:name=".register_one" />
        <activity android:name=".SignInAct" />
        <activity android:name=".GetStartedAct" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>